*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", sans-serif;
    text-align: center;
    padding: 2rem;
    background-color: #f4f4f4;
}

input, button {
    padding: 0.5rem;
    font-size: 1rem;
    margin: 0.5rem;
}

#password {
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    display: inline-block;
}