*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    padding: 20px;
    display: flex;
    justify-content: center;
}

h1{
    text-align: center;
}

button {
    margin-right: 0.5rem;
    background-color: cadetblue;
    padding: 0.5rem;
    border: none;
    color: white;
    border-radius: 5px;
}

button:hover{
    background-color: #486f70;
    cursor: pointer;
}

.item{
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.info {
    background-color: #e0f7fa;
}

.furniture {
    background-color: #fff3e0;
}

.other {
    background-color: #f3e5f5;
}

